<a href="https://colab.research.google.com/github/jaiz23/Big-Data-Analytics/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

5. a)  Input the string “Python” as a list of characters from console, delete at least 2 characters, reverse the resultant string, and print it.

In [2]:
inputString = input()

Python

In [3]:
convertToList = list(inputString)

In [4]:
del convertToList[0]

In [5]:
del convertToList[1]

In [6]:
convertToList.reverse()

In [7]:
joinList = ''.join(convertToList)

In [8]:
print(joinList)

nohy

b. Take two numbers from user and perform at least 4 arithmetic operations on them.

In [9]:
firstNumber = int(input())
secondNumber = int(input())

3
4

Addition

In [10]:
print(firstNumber + secondNumber)

7

Subtraction

In [11]:
print(firstNumber - secondNumber)

-1

power

In [12]:
print(firstNumber ** secondNumber)

81

Multiplication

In [13]:
print(firstNumber*secondNumber)

12

6. Write a program that accepts a sentence and replace each occurrence of ‘python’ with ‘pythons

In [14]:
sentenceString = input()

I love playing with python

In [16]:
sentenceString.replace('python','pythons')

'I love playing with pythons'

6. Use the if statement conditionsto write a program to print the letter grade based on an input class score. Use the grading scheme we are using in this class.

In [17]:
score = float(input())
grade = ''

if score >= 90 and score <= 100:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
elif score >= 0:
    grade = 'F'
else:
    print("Invalid score. Please enter a value between 0 and 100.")

print("Grade: ", grade)

78
Grade:  C

Write a code that appends the type of elements from a given list.
Input
x = [23, ‘Python’, 23.98]

In [18]:
x = [23,'python',23.6]

In [19]:
types = [type(i) for i in x]

In [20]:
print(types)

[<class 'int'>, <class 'str'>, <class 'float'>]

In [21]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

1. Find the length of the set IT_companies

In [22]:
print("Length of IT_Companies", len(IT_companies))

Length of IT_Companies 7

2. Add 'Twitter' to IT_companies

In [23]:
IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

After adding Twitter: {'Oracle', 'Apple', 'Facebook', 'IBM', 'Twitter', 'Amazon', 'Google', 'Microsoft'}

3. Insert multiple IT companies at once

In [24]:
IT_companies.update(['Tesla', 'Adobe', 'Intel'])
print("After adding multiple companies:", IT_companies)

After adding multiple companies: {'Facebook', 'Google', 'Microsoft', 'Oracle', 'Apple', 'IBM', 'Intel', 'Tesla', 'Amazon', 'Twitter', 'Adobe'}

4. Remove one of the companies from the set

In [25]:
IT_companies.remove('Oracle')
print("After removing Oracle:", IT_companies)

After removing Oracle: {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Intel', 'Tesla', 'Amazon', 'Twitter', 'Adobe'}

5. Difference between remove and discard

In [26]:
IT_companies.remove('Netflix')

KeyError: 'Netflix'

In [30]:
# remove() raises an error if the element is not found

In [27]:
IT_companies.discard('Netflix')

In [32]:
# discard() does NOT raise an error if the element is not found

6. Join A and B (Union)

In [28]:
print("A union B:", A.union(B))

A union B: {19, 20, 22, 24, 25, 26, 27, 28}

7. Find A intersection B

In [29]:
print("A intersection B:", A.intersection(B))

A intersection B: {19, 20, 22, 24, 25, 26}

8. Is A subset of B?

In [30]:
print("Is A subset of B?", A.issubset(B))

Is A subset of B? True

9. Are A and B disjoint sets?

In [31]:
print("Are A and B disjoint?", A.isdisjoint(B))

Are A and B disjoint? False

10. Join A with B and B with A (union both ways, same result)

In [32]:
print("A | B:", A | B)
print("B | A:", B | A)

A | B: {19, 20, 22, 24, 25, 26, 27, 28}
B | A: {19, 20, 22, 24, 25, 26, 27, 28}

11. Symmetric difference between A and B

In [40]:
print("Symmetric difference:", A.symmetric_difference(B))

Symmetric difference: {27, 28}

12. Delete the sets completely

In [33]:
del A
del B

In [34]:
print(A)
print(B)

NameError: name 'A' is not defined

In [43]:
# del keyword in Python is used to remove a reference to an object. When del is used on a set, it removes the variable name that was pointing to that set object., It throws error

13. Convert age list to a set and compare lengths

In [35]:
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of age list: 8
Length of age set: 5

In [45]:
# difference is because set does not allow duplicate entry

Video link

https://drive.google.com/file/d/1M2KEp0bCE7Eg5jGv0GbyT1olO21V8wl-/view?usp=sharing