<a href="https://colab.research.google.com/github/jaiz23/Big-Data-Analytics/blob/main/big_data_analytics_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. a) Explain the difference between Counter.count and self._count.**bold text**

In [ ]:
# Counter.count is class variable or static variable.  It is shared between all the objects of the class. Where self.count is associated with each object of class.

In [ ]:
class Counter:
    count = 0

    def __init__(self):
        self._count = 0

    def increment(self):
        Counter.count += 1
        self._count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, class count: {Counter.count}"

In [ ]:
a = Counter()
b = Counter()
a.increment()
a.increment()
b.increment()

In [ ]:
print(a.get_counts())
print(b.get_counts())

Instance count: 2, class count: 9
Instance count: 1, class count: 9

1.b What is the output of a.get_counts() and b.get_counts()?

In [ ]:
# The output of a.get_counts() will be 2, as a.increment() method is called two times, it increments two times
# The output of b.get_counts() will be 1, as b.increment() method is called one time, it increments one time.

How does the increment method affect both the class and instance variables

In [ ]:
# Whenever the increment() method called on class objects it will increment the class variable Counter.count, In the example it was called on a object two times and b object one time. So, Counter.count() value becomes 3.

2. Find and remove the bug from the code to obtain the given output.

In [ ]:
def sum_all(*args):
    return sum(args)

print(sum_all(1, 2, 3))
print(sum_all(4, 5, 6, 7))

6
22

In [ ]:
# The error in the code is *args, *args in function definition is used to pass a variable no of arguments.
# here it passes variable number of arguments to sum_all function and it pass to sum function which accepts and returns the sum of all numbers.

3. Write a function called first_word that takes a list of character strings as input and returns the first
element of the list in alphabetical order. For example, your function should work like this:

In [ ]:
def first_word(word_list):
    sorted_list = sorted(word_list)
    return sorted_list[0]

In [ ]:
students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']

In [ ]:
print(first_word(students))

Bartholomew

4. Create a class Employee and then do the following

In [8]:
class Employee:
    count = 0
    salaries = []

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department
        Employee.count += 1
        Employee.salaries.append(salary)

    def average_salary():
        return sum(Employee.salaries) / Employee.count

In [2]:
class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)

In [9]:
emp1 = Employee("Jai", "Rayapureddy", 50000, "")
emp2 = Employee("Venkat", "Rayapureddy", 60000, "HR")
ft_emp = FulltimeEmployee("John", "Smith", 70000, "Finance")

In [10]:
print("Number of Employees:", Employee.count)

Number of Employees: 3

In [11]:
print("Average salary:",Employee.average_salary())

Average salary: 60000.0

In [6]:
print("FullTime Employee :",ft_emp.name)

FullTime Employee : John